@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=PT+Sans+Narrow&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: PT Sans Narrow, sans-serif;
    font-weight: 300;
    color: white;
}

/* title design */

h1, h2 {
    font-family: Cairo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: white;
    
}

#title {
    text-align: center;
    font-size: 300%;    
}

/* site navigation */

#menu {
    font-size: 125%;
    text-align: center;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 3px dotted white;
}

/* bg-image */

#bg-image {
    height: 1280px;
    width: 100%;
    background-image: url(../images/pexels-asli-aker-5224642.jpg);
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
    background-attachment: fixed;
}

/* main info */

#all-about-greece {
    height: 600px;
    padding-top: 50px;
    text-align: center;
}

/* footer */

.footer {
    height: 100px; 
    
}


.social {
    text-align: center;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 175%;
    margin: 1%;
    padding: 10%;
    color: white; 
}

/* Gallery */

#gallery-of-greece {
    text-align: center;
}

.carousel {
    padding: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 8px;
    max-width: 900px;
    width: 85vw;
    margin: auto;
}

.images-container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
}

.images-container img {
    height: 500px;
    width: 750px;
}
