@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=PT+Sans+Narrow&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: PT Sans Narrow, sans-serif;
    font-weight: 300;
    color: white;
}

/* title design */

h1, h2 {
    font-family: Cairo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: white;
    
}

#title {
    text-align: center;
    font-size: 300%;
    
}

/* site navigation */

#menu {
    font-size: 125%;
    text-align: center;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 3px dotted white;
}

/* bg-image */

#bg-image {
    height: 1000px;
    width: 100%;
    background-image: url(../images/pexels-asli-aker-5224642.jpg);
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}

